<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Peeroreum Client</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>peeroreum_client</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
	<key>NSCameraUsageDescription</key>
	<string>사진 촬영 또는 갤러리 사진을 선택하여 프로필, 본문 및 대표 이미지, 챌린지 인증 등에 첨부 및 등록하는 기능을 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진 촬영 또는 갤러리 사진을 선택하여 프로필, 본문 및 대표 이미지, 챌린지 인증 등에 첨부 및 등록하는 기능을 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>CFBundleURLTypes</key>
            <array>
              <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <!-- google login -->
                <string>com.googleusercontent.apps.80878849816-m1807p78onupqumcgmgt7m6r7umaltg3</string>
                <!-- kakao login -->
                <string>a17f729816582e161afaae9395c1f1b5</string>
              </array>
              </dict>
            </array>
	</dict>
</plist>
